html{
	scroll-behavior: smooth;
}

body{
	font: 12px/1.5 Arial, helvetica, sans-serif;
	padding:0;
	margin: 0;
	background-color: #F0F8FF;
}

.container{
	width: 100%;
	margin: auto;
	overflow: hidden;
	position: fixed;
}

/* NAV */
header{
	background: #000000;
	padding: 0;
	min-height: 45px;
}

header a{
	color: #A9A9A9;
	text-decoration: solid;
	text-transform: uppercase;
	font-size: 12px;
	border-top: 20px;
}

#logo{
	width: 100%;
	display: inline;
	padding: 0 20px;
}

header ul{
	margin: 0;
	padding: 0;
}

header li{
	float: left;
	display: inline;
	padding: 0 10px 0 10px;
}

header nav{
	float: right;
	margin-top: 10px;
}

header .highlight, header .current a{
	color:#FFBD59;
	font-weight: bold;
}

header a:hover{ 
	color: #FFFFFF;
	font-weight: bold;
}

.button{
	background-color: #FFBD59;
	color: #000000;
	text-decoration: solid;
	text-transform: uppercase;
	border: 5px;
	padding: 10px;
}

/*Device Sizing
.smallscreen{
	width: 100%;
	margin: auto;
	overflow: hidden;
}

img.smallscreen {
	display: none;
}

@media only screen and (max-width: 320px){
	img{
		display: none;
	}
	img.smallscreen{
		display: inline;
	}
}*/

#Showcase {
	min-height: 500px;
	text-align: left;
	color: #000000;
}

img.showcase{
	vertical-align: middle;
	height: 350px;
	padding-right: 50px;
	padding-left: 50px;
}

#Showcase h1{
	margin-top: 150px;
	font-size: 50px;
	margin-bottom: 10px;
	padding-left: 50px;
	padding-right: 50px;
}

#Showcase p{
	font-size: 14px;
	color: #000000;
	padding-left: 50px;
	padding-right: 50px;
	display: inline-block;
}

img.bg{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: auto;
	vertical-align: middle;
}

@media screen and (max-width: 400px){
	img.bg{
		flex:20%;
		max-width: 100%;
	}
}
/* GALLERY */

.row {
  display:flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 20%;
  max-width: 25%;
  padding: 0;
  margin: 0 30px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  }
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 850px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* COMMISSION */


#Form {
	width: 100%;
	text-align: center;
	text-decoration: solid;
	position: relative;
	}

#button2{
	background-color: #e6e7e2;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,0%);
}


#Contact{
	text-align: center;
}

footer {
	background-color: #000000;
	padding:20px;
	margin-top:20px;
	color: white;
	text-align: center;
	.fa {
  padding: 5px;
  font-size: 12px;
  width: 15px;
  height: 15px;
  text-align: center;
  text-decoration: none;
  align-content: center;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-instagram {
  background: #DD2A7B;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}


.fa-deviantart {
  background: #1DB;
  color: white;
}
}












